/* [project]/app/page.module.css [app-client] (css) */
.page-module__E0kJGG__section {
  padding-block: 16px;
  position: relative;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__section {
    padding-block: 32px;
  }
}

.page-module__E0kJGG__container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 32px;
}

.page-module__E0kJGG__card {
  background-color: var(--dark-color);
  border-radius: 30px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .page-module__E0kJGG__card {
    flex-direction: row;
  }
}

.page-module__E0kJGG__content {
  margin-bottom: 80px;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 64px;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__content {
    padding-left: 64px;
  }
}

@media (min-width: 1024px) {
  .page-module__E0kJGG__content {
    padding-top: 251px;
    padding-bottom: 171.2px;
    padding-left: 96px;
  }
}

.page-module__E0kJGG__title {
  letter-spacing: -.03em;
  color: var(--background);
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__title {
    margin-bottom: 28px;
    font-size: 70px;
  }
}

.page-module__E0kJGG__description {
  letter-spacing: -.02em;
  color: var(--background);
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.07;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__description {
    margin-bottom: 72px;
    font-size: 28px;
  }
}

.page-module__E0kJGG__button {
  max-width: 230px;
  height: 60px;
  color: var(--background);
  letter-spacing: -.01em;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 48px;
  font-size: 20px;
  font-weight: 500;
  transition: all .25s;
  display: flex;
}

.page-module__E0kJGG__button:hover {
  border-color: var(--background);
}

.page-module__E0kJGG__button:hover .page-module__E0kJGG__icon {
  transform: rotate(45deg);
}

.page-module__E0kJGG__icon {
  transition: transform .25s;
}

.page-module__E0kJGG__image {
  background-image: url("/img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 336px;
  position: relative;
}

@media (min-width: 1024px) {
  .page-module__E0kJGG__image {
    min-width: 699.2px;
  }
}

@media (min-width: 1280px) {
  .page-module__E0kJGG__image {
    min-height: 720px;
  }
}

.page-module__E0kJGG__badge {
  background-color: var(--background);
  border-radius: 20px;
  align-items: center;
  gap: 10px;
  padding: 16px;
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__badge {
    gap: 16px;
    padding: 32px;
    bottom: 50px;
    right: 50px;
  }
}

.page-module__E0kJGG__badgeIcon {
  background-color: var(--dark-color);
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__badgeIcon {
    width: 54px;
    height: 54px;
  }
}

.page-module__E0kJGG__badgeLabel {
  color: #11101c80;
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__badgeLabel {
    font-size: 16px;
  }
}

.page-module__E0kJGG__badgeValue {
  color: #11101c;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .page-module__E0kJGG__badgeValue {
    font-size: 20px;
  }
}

.page-module__E0kJGG__titleNF {
  color: var(--error-color);
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 700;
}

.page-module__E0kJGG__descriptionNF {
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 16px;
  font-size: 25px;
  line-height: 28px;
}

/*# sourceMappingURL=app_page_module_2b22cb52.css.map*/